body {
    color: #e8e8e9;
    background-color: #606061;
    font-family: Verdana, Arial, Helvetica, san-serif;
    font-size: 15px;
}

a,
input {
    color: #e8e8e9
}

#root {
    width: 1024px;
    margin: 0 auto;
}

header,
nav,
.container,
footer {
    background-color: #292929;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#header {
    box-sizing: border-box;
    height: 160px;
    padding: 10px 8px;
}

#header h1 {
    float: left;
    width: 215px;
    height: 85px;
    margin: 20px 0 0 8px;
}

#header h1 a {
    display: block;
    height: 0;
    padding-top: 85px;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../images/agefans/logo.png") no-repeat;
}

#header .loginout {
    float: right;
}

#header .loginout a {
    text-decoration: underline;
}

nav {
    height: 56px;
}

nav a {
    display: inline-block;
    height: 56px;
    line-height: 56px;
    font-size: 1.2em;
    padding: 0 14px;
}

nav a:hover,
nav a.active {
    background-color: #303030;
}

nav .search-form {
    float: right;
    box-sizing: border-box;
    height: 40px;
    margin: 8px;
    border: 1px solid #404041;
    background-color: #212122;
    vertical-align: middle;
}

nav .search-form .search-input {
    display: inline-block;
    border: 0;
    font-size: 1em;
    height: 40px;
    line-height: 40px;
    padding: 0 6px;
    background-color: transparent;
}

nav .search-form .search-submit {
    float: right;
    width: 30px;
    height: 40px;
    border: none;
    background: url(../images/agefans/search.png) no-repeat 6px 9px;
    background-size: 20px 20px;
}

.container {
    border: 4px solid #303030;
    box-sizing: border-box;
    padding: 10px;
    background-color: #202020;
}

.container .new-tip {
    padding: 0 8px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    font-size: 1em;
    color: red;
    border: 1px solid red;
}

.container article {
    float: left;
    width: 660px;
}

.container .block-title {
    padding: 6px 0px;
    color: #888899;
    font-size: 1.1em;
    margin: 10px 0;
}

.container .block-title a {
    text-decoration: underline;
    font-size: 1.1em;
    cursor: pointer;
}

.container .block-content {
    padding: 10px 8px;
    margin-left: -10px;
}

.container article .block-content .anime-list .anime-icon {
    position: relative;
    display: inline-block;
    width: 120px;
    margin-right: 5px;
    margin-bottom: 18px;
}

.container article .block-content .anime-list .anime-icon .anime-icon-name1 {
    position: absolute;
    max-width: 100px;
    right: 5px;
    top: 140px;
    background-color: rgba(0, 0, 0, .65);
    padding: 1px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}

.container article .block-content .anime-list .anime-icon .anime-icon-name .anime-icon-name-a {
    width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hrspace {
    width: 98%;
    margin-top: 6px;
    margin-bottom: 8px;
    height: 0px;
    border: none;
    border-bottom: 1px solid #404041;
}

.container aside {
    float: left;
    width: 336px;
}

#new-anime-btns .new-anime-btn {
    width: 43px;
    float: left;
    box-sizing: border-box;
    text-align: center;
    font-size: 1;
    height: 35px;
    line-height: 35px;
    color: #888899;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    margin: 0 2px;
}

#new-anime-btns .new-anime-btn.active,
#new-anime-btns .new-anime-btn:hover {
    border-left: 1px solid #404041;
    border-top: 1px solid #404041;
    border-right: 1px solid #404041;
    background-color: #282828;
    color: #ffffff;
}

#new-anime-page,
#anime_update {
    border: 1px solid #404041;
    background-color: #282828;
}

.one-new-anime {
    padding: 5px;
    margin: 5px 2px;
}

.one-new-anime .one-new-anime-name {
    float: left;
    width: 156px;
    font-size: 1em;
    text-decoration: underline;
}

.one-new-anime .one-new-anime-ji {
    float: left;
    width: 108px;
    font-size: 1em;
    color: #60b8cc;
    text-decoration: underline;
}

#anime_update .one-new-anime .one-new-anime-name {
    width: 220px;
}

.one-new-anime .one-new-anime-date {
    color: #60b8cc;
}

footer {
    background-color: #303030;
}

.footer-continer {
    padding: 24px 12px;
    margin: auto;
}

.footer-continer .pannel .pannel-head {
    margin-bottom: 10px;
}

.footer-continer .pannel .link-text .text-muted {
    float: left;
    text-decoration: underline;
    margin-right: 10px;
}